<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>George Bashi</title>
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

    <link rel="stylesheet" href="css/markdown.css">
</head>

<body>
    <header>
        <h1>George Bashi</h1>
    </header>

    {{ content }}

    <footer itemscope itemtype="http://schema.org/Person">
        <p>
            <span itemprop="name">George Bashi</span><br />
            <a href='mailto:george@bashi.co.uk' itemprop="email">george@bashi.co.uk</a>
        </p>

        <p>
            <span itemprop="jobTitle">Engineering Manager</span>,
            <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization"><a href='http://www.yelp.com/' itemprop="url"><span itemprop="name">Yelp</span></a></span><br />
	    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">San Francisco</span>, <span itemprop="addressRegion">CA</span></span>
        </p>

        <p>
            <a href='https://github.com/georgebashi'>github.com/georgebashi</a><br />
            <a href='https://instagram.com/georgebashi'>instagram.com/georgebashi</a>
        </p>
    </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79304-5', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
